.i {
	content: '';

	flex-shrink: 0;

	width: 1.25em;
	height: 1.25em;

	background-color: currentcolor;

	mask-image: var(--icon);
	mask-repeat: no-repeat;
	mask-size: 100% 100%;

	transition: inherit;
}

.i-file {
	display: none;
}

.i-caret-up {
	--icon: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%20256%20256%22%3E%3Cpath%20d%3D%22M213.66%20165.66a8%208%200%2001-11.32%200L128%2091.31l-74.34%2074.35a8%208%200%2001-11.32-11.32l80-80a8%208%200%200111.32%200l80%2080a8%208%200%20010%2011.32%22%2F%3E%3C%2Fsvg%3E');
}

.i-clipboard {
	--icon: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%20256%20256%22%3E%3Cpath%20d%3D%22M200%2032h-36.26a47.92%2047.92%200%2000-71.48%200H56A16%2016%200%200040%2048v168a16%2016%200%200016%2016h144a16%2016%200%200016-16V48a16%2016%200%2000-16-16m-72%200a32%2032%200%200132%2032H96a32%2032%200%200132-32m72%20184H56V48h26.75A47.9%2047.9%200%200080%2064v8a8%208%200%20008%208h80a8%208%200%20008-8v-8a47.9%2047.9%200%2000-2.75-16H200Z%22%2F%3E%3C%2Fsvg%3E');
}

.i-clipboard-text {
	--icon: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%20256%20256%22%3E%3Cpath%20d%3D%22M200%20216H56V48H82.8A47.9%2047.9%200%200080%2064v8a8%208%200%20008%208h80a8%208%200%20008-8V64a47.9%2047.9%200%2000-2.8-16H200ZM96%2064a32%2032%200%200164%200H96M216%2048A16%2016%200%2000200%2032H163.7A47.9%2047.9%200%200092.3%2032H56A16%2016%200%200040%2048V216a16%2016%200%200016%2016H200a16%2016%200%200016-16V48m-56%2064a8%208%200%20010%2016H96a8%208%200%20010-16h64m8%2040a8%208%200%2000-8-8H96a8%208%200%20000%2016h64a8%208%200%20008-8%22%2F%3E%3C%2Fsvg%3E');
}

.i-corners-out {
	--icon: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%20256%20256%22%3E%3Cpath%20d%3D%22M216%2048v40a8%208%200%2001-16%200V56h-32a8%208%200%20010-16h40a8%208%200%20018%208M88%20200H56v-32a8%208%200%2000-16%200v40a8%208%200%20008%208h40a8%208%200%20000-16m120-40a8%208%200%2000-8%208v32h-32a8%208%200%20000%2016h40a8%208%200%20008-8v-40a8%208%200%2000-8-8M88%2040H48a8%208%200%2000-8%208v40a8%208%200%200016%200V56h32a8%208%200%20000-16%22%2F%3E%3C%2Fsvg%3E');
}

.i-corners-in {
	--icon: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%20256%20256%22%3E%3Cpath%20d%3D%22M152%2096V48a8%208%200%200116%200v40h40a8%208%200%20010%2016h-48a8%208%200%2001-8-8m-56%2056H48a8%208%200%20000%2016h40v40a8%208%200%200016%200v-48a8%208%200%2000-8-8m112%200h-48a8%208%200%2000-8%208v48a8%208%200%200016%200v-40h40a8%208%200%20000-16M96%2040a8%208%200%2000-8%208v40H48a8%208%200%20000%2016h48a8%208%200%20008-8V48a8%208%200%2000-8-8%22%2F%3E%3C%2Fsvg%3E');
}
